<h1>Individuals</h1>

<table class="table table-hover table-border table-striped">
  <tbody>
    {{#each individual in model}}
      <tr>
        <td>
          {{#link-to 'individuals' this}}
            {{individual.name}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
